html {
background-color: goldenrod;
}

body{
    margin: 0;
}
.sitehead1 {
    background-color: cyan;
    padding: 30px;
}
.pagename {
    margin: 0;
    color: aliceblue;
}
.linklist {
    
}






